* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
}

.main-container {
    display: flex;
    width: 70%;
    height: 93vh;
}

.image-container {
    width: 40%;
    background-image: url('./images/shoes.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
}

.text-container {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo {
    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 15vh;
}

.form-container {
    background-color: whitesmoke;
    width: 60%;
}

.intro-texts {
    padding: 20px;
}

.form-container h3 {
    padding-top: 50px;
    font-size: 30px;
}

.into-p {
    text-align: justify;
    padding-top: 8px;
    font-size: 18px;
}

.second-p {
    padding-top: 15px;
    font-size: 20px;
}

.form-div {
    background-color: white;
    padding: 20px;
    margin: 0px 20px;
    border-radius: 10px;
}

.form-p {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

/* label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: thin;
} */

input {
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid #7CB9E8;
    color: whitesmoke;
}

.names {
    display: flex;
    margin-bottom: 10px;
    gap: 60px;
}

.contacts, .passwords {
    display: flex;
    gap: 60px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: #007FFF;
    border: none;
    border-radius: 20px;
}

.login {
    margin-top: 5px;
}