* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    padding: 0px 50px;
} 

.main-container {
    display: flex;
}

.side-bar {
    background-color: #FAF9F6;
    width: 20%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}

.logo img {
    width: 20%;
}

.logo h2 {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.first-items, .second-items{ 
    display: flex;
    padding-top: 20px;  
}

.first-items ul li, .second-items ul li {
    display: flex;
    gap: 5px;
    margin: 20px 60px;    
}

.first-items ul li img, .second-items ul li img {
    width: 12%;
}

.first-items ul li a, .second-items ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.dashboard-contents {
    background-color: #b1b7c1;
    width: 80%;
}
.top-div, .lower-div{
    background-color: white;
}
.div-1 {
    display: flex;
}

.search {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 30px 20px;
}

.search-icon {
    width: 5%;
}

.search input {
    padding: 4px 24px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #b1b7c1;
}

.profile-notifications {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 50px;
    gap: 15px;
}

.notifications{
    width: 4%;
}

.profile-picture {
    width: 7%;
    border-radius: 50%;
}

.profile-notifications h5 {
    font-size: 20px;
}

.lower-div {
    display: flex;
}

.left-div {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 18px;
}

.left-div .text p {
    font-size: 20px;
    font-weight: bold;
}

.right-div {
    width: 30%;
    padding: 12px 0px;
    display: flex;
    gap: 20px;
    justify-content: right;
    padding-right: 25px;
}

.right-div button {
    padding: 0px 25px;
    border: none;
    color: white;
    border-radius: 20px;
    background-color: skyblue;
}

.projects-container {
    display: flex;
    padding: 20px 10px;
    gap: 20px;
}

.projects-div {
    width: 70%;
}

.projects-div h4 {
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.grid-item {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    border-left: 7px solid orange;
}

.grid-item h5 {
    font-size: 17px;
    margin-bottom: 4px;
}

.grid-item p {
    font-size: 15px;
}

.icons {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    justify-content: right;
}

.announcements-div {
    width: 30%;
}

.announcements-div h4 {
    font-size: 20px;
}

.topp-div {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

.topp-div h5 {
    font-size: 18px;
    margin-bottom: 3px;
}

.topp-div p{
    font-size: 15px;
    margin-bottom: 5px;
}

.top-div hr {
    margin: 10px 0px;
}

.bottom-div {
    background-color: #fff;
    padding: 18px 12px;
    border-radius: 10px;
}

.bottom-h4 {
    margin-top: 25px;
}

.avatar-profile {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.avatar-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}