* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    /* height: auto; */
}

.side-bar {
    background-color: #FAF9F6;
    width: 20%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}

.logo img {
    width: 20%;
}

.logo h2 {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.first-items, .second-items{ 
    display: flex;
    padding-top: 20px;  
}

.first-items ul li, .second-items ul li {
    display: flex;
    gap: 5px;
    margin: 20px 60px;    
}

.first-items ul li img, .second-items ul li img {
    width: 12%;
}

.first-items ul li a, .second-items ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.dashboard-contents {
    background-color: skyblue;
    width: 80%;
}

.div-1 {
    display: flex;
}

.search {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 30px 20px;
}

.search-icon {
    width: 5%;
}

.search input {
    padding: 4px 24px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #FAF9F6;
}

.profile-notifications {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 50px;
    gap: 15px;
}

.notifications{
    width: 5%;
}

.profile-picture {
    width: 8%;
}

.profile-notifications h5 {
    font-size: 20px;
}

.lower-div {
    display: flex;

    background-color: pink;
}

.left-div {
    background-color: yellow;
    width: 70%;
}

.right-div {
    background-color: gray;
    width: 30%;
}